# Don't track content of these folders
docs/

# Compiled source #
###################
*.exe
*token.txt

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
#*.7z
#*.dmg
